/* Checkbox fix */
input[type="checkbox"]{
    vertical-align:text-bottom;
    margin-right:5px;
}
.checkbox-button-label{
    font-weight: normal;
    margin-bottom: 2px;
}

/* Sidebar category header */
.sidebar-header{
    font-weight: bold;
    letter-spacing: 2px;
}

/* Hide spin buttons on number fields */
input[type='number'] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}