
/*----------------------------------------------------------------------- 
table of content
-------------------------------------------------------------------------* /

"Melissa - is a Ultimate Multipurpose  Premium  HTML5 Responsive Templeate by HTMLmate Team. You can use this 
for anykind of multi-purpose Bussiness"

File:           CSS Base
Version:        1.1
Last change:     
Author:         HTMLmate


/* ----------------------------
* 1 = Fonts 
* 2 = Global 
* 3 = Header
* 4 = Ways of help
* 5 = Countdown
* 6 = Recent Causes
* 7 = Our Impact
* 8 = Can We Do
* 9 = Video bg section
* 10 = Latest news
* 11 = Partner 
* 12 = Footer
* 13 = page head section

/*----------------------------------------------------------------------- 
End of Table of Content
-------------------------------------------------------------------------* /


/*----------------------------------------------------------------------- 
fonts [*1]
-------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Raleway:300,400,500,700');

/*----------------------------------------------------------------------- 
Global
-------------------------------------------------------------------------*/
* { box-sizing: border-box; }
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: .5px;
	background-color: #fff;
	color: #757575;
	font-family: 'Merriweather Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	
}

.ul-li ul {
	margin:0;
	padding: 0;
}
.ul-li  li {
	display: inline-block;
	list-style: none;
}
.ul-li-block li {
	display: block;
}
section {
	overflow: hidden;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	transition: .3s all ease-in-out;
	color: inherit;

}
.form-control:focus,button:visited,button.active,button:hover,button:focus,input:visited,input.active,input:hover,
input:focus,textarea:hover,textarea:focus,a:hover,a:focus,a:visited,a.active,select,select:hover, select:focus, select:visited {
	outline: none;
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}
.form-control {
	box-shadow: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal;
	font-family: 'Raleway', sans-serif; 
}

.section-content {
	padding: 100px 0px;
}
.orange-gred {
	background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.deep-black {
	color: #040404;
}
.pink {
	color: #f11965;
}

@-webkit-keyframes video-icon {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

@keyframes video-icon {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}


@-moz-keyframes zooming { 0% { -moz-transform: scale(1, 1); transform: scale(1, 1); }
50% { -moz-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
100% { -moz-transform: scale(1, 1); transform: scale(1, 1); } }
@-webkit-keyframes zooming { 0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
50% { -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
100% { -webkit-transform: scale(1, 1); transform: scale(1, 1); } }
@keyframes zooming { 0% { -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); }
50% { -moz-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
100% { -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); } }

/*--------------------------------------------- 
Margin settings
-----------------------------------------------*/
.mt25{margin-top: 25px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt10{margin-top: 10px;}
.mt5{margin-top: 5px;}
.mt65{margin-top: 65px;}
.mr30{margin-right: 30px;}

/*----------------------------------------------- 
Padding settings
------------------------------------------------*/
.pb10{padding-bottom: 10px;}
.pb30{padding-bottom: 30px;}
.pb20{padding-bottom: 20px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pt45{padding-top: 45px;}
.pt35{padding-top: 35px;}
.pt25{padding-top: 25px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pl40{padding-left: 40px;}
.no-padding{padding: 0;}

.table-disply {
	display: table;
	width: 100%;
}
/*----------------------------------------------------------------------- 
Start of features section
-------------------------------------------------------------------------*/
.features-icon i {
	font-size: 52px;
	transition: .3s all ease-in-out;
	position: relative;
	z-index: 1;

}
.features-text-title h3 {
	font-size: 26px;
}
.features-icon {
	height: 120px;
	width: 120px;
	margin: 0 auto;
	line-height: 160px;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0px 5px 30px -9px rgba(238, 9, 121,0.75);
	-moz-box-shadow: 0px 5px 30px -9px rgba(238, 9, 121,0.75);
	box-shadow: 0px 5px 30px -9px rgba(238, 9, 121,0.75);
}
.features-icon:after,
.extra-features-section .extra-left .features-icon:after,
.extra-features-section .extra-right .features-icon:after {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: .3s all ease-in-out;
	transform: scale(.5);
}
.features-icon:after,
.extra-features-section .extra-left .features-icon:after,
.extra-features-section .extra-right .features-icon:after  {
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #ee0979 0%, #ff6a00 100%) repeat scroll 0 0;

}
.features-text-dec {
	max-width: 350px;
	margin: 0 auto;
	overflow: hidden;
}
.features-text-icon:hover .features-icon:after,
.extra-icon-text:hover .features-icon:after {
	opacity: 1;
	transform: scale(1);
}
.features-text-icon:hover i,
.extra-icon-text:hover i  {
	background: -moz-linear-gradient(left, #fff 0%, #fff 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #fff), color-stop(100%, #fff));
	background: -webkit-linear-gradient(left, #fff 0%, #fff 100%);
	background: -o-linear-gradient(left, #fff 0%, #fff 100%);
	background: -ms-linear-gradient(left, #fff 0%, #fff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.extra-icon-text {
	position: relative;
}
/*----------------------------------------------------------------------- 
End of features section
-------------------------------------------------------------------------*/



/*----------------------------------------------------------------------- 
Start of about section
-------------------------------------------------------------------------*/
.about-section {
	background-color: #f7f7f9;
	overflow: visible;
}
.about-section .section-content {
	padding-bottom: 35px;
}
.about-left-img {
	max-width: 370px;
	margin: 0px auto;
	margin-bottom: -100px;
}
/* Zooming */
.zooming {
	-moz-animation: zooming 18s infinite both;
	-webkit-animation: zooming 18s infinite both;
	animation: zooming 18s infinite both;
}


.about-section-text {
	padding-top: 105px;
}
.download-store li {
	margin-right: 0,5%;
	margin-left: 7%;
}
/*----------------------------------------------------------------------- 
End of about section
-------------------------------------------------------------------------*/



/*----------------------------------------------------------------------- 
Start of extra features
-------------------------------------------------------------------------*/
.extra-features-section .section-content {
	padding-top: 160px;
}
.extra-features-section .extra-left .features-icon,
.extra-features-section .extra-right .features-icon {
	width: 80px;
	height: 80px;
	line-height: 100px;
	float: right;
	box-shadow: none;
	background-color: #f7f7f9;
	margin-left: 20px;
}
.extra-features-section .features-icon i {
	font-size: 36px;
}
.extra-left-content {
	display: inline-block;
	width: 100%;
	margin-top: 35px;
}
.extra-features-section .extra-right .features-icon {
	float: left;
	margin-right: 20px;
	margin-left: 0;
}
/*----------------------------------------------------------------------- 
End of extra features
-------------------------------------------------------------------------*/



/*----------------------------------------------------------------------- 
Start of how to install
-------------------------------------------------------------------------*/
.how-to-install,
.download-section {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #ee0979 0%, #ff6a00 100%) repeat scroll 0 0;
}
.how-to-install .section-content {
	padding-bottom: 150px;
}
.title-install h2 {
	font-size: 52px;
	color: #fff;
}
.install-play {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	background-color: #fff;
	line-height: 120px;
	border-radius: 100%;
}
.install-play .popup-with-zoom-anim {
	display: block;
	width: 100%;
	position: relative;
}
.popup-with-zoom-anim:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 42%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	border-radius: 50%;
	-webkit-animation: video-icon 1500ms ease-out infinite;
	animation: video-icon 1500ms ease-out infinite;
}
.install-play span {
	font-size: 36px;
}
/*----------------------------------------------------------------------- 
End of how to install
-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------- 
Start of showcase section
-------------------------------------------------------------------------*/
.showcase-slider .owl-dot {
	height: 15px;
	width: 15px;
	background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	border-radius: 100%;
	display: inline-block;
	margin-right: 10px;
	transition: .3s all ease-in-out;
}
.showcase-slider .owl-controls .owl-dots {
	text-align: center;
	padding-top: 45px;
}
.showcase-slider  .owl-dot.active {
	width: 30px;
	border-radius: 20px;
}
.showcase-slider .owl-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.showcase-slider .owl-prev,
.showcase-slider .owl-next {
	height: 80px;
	width: 80px;
	background-color: #f7f7f9;
	line-height: 65px;
	border-radius: 100%;
	text-align: center;
	position: absolute;
	top: -70px;
	-webkit-box-shadow: 2px -1px 35px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px -1px 35px -5px rgba(0,0,0,0.75);
	box-shadow: 2px -1px 35px -5px rgba(0,0,0,0.75);
	font-size: 18px;
	border: 10px solid #fff;
}
.showcase-slider .owl-prev,
.showcase-slider .owl-next span {
	color: #ee0979;
}
.showcase-slider .owl-prev {
	left: -40px;
}
.showcase-slider .owl-next {
	right: -40px;
}
.showcase-slider .owl-prev:hover,
.showcase-slider .owl-next:hover {
	background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
}
.showcase-slider .owl-prev:hover span,
.showcase-slider .owl-next:hover span {
	color: #fff;
}
/*----------------------------------------------------------------------- 
End of showcase section
-------------------------------------------------------------------------*/





/*----------------------------------------------------------------------- 
Start of testimonial section
-------------------------------------------------------------------------*/
.testimonial-section {
	background-color: #f7f7f9;
}
.testimonial-name-designation {
	background-color: #fff;
	position: relative;
	padding: 30px;
	display: inline-block;
	border-radius: 10px;
}
.quate-icon {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	line-height: 40px;
	position: absolute;
	top: -20px;
	background-color: #fff;
	text-align: center;
}
.quate-icon span {
	font-size: 18px;
	font-weight: 700;
}
.testimonial-pic {
	height: 80px;
	width: 80px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
}
.testimonial-pic img {
	border-radius: 100%;
}
.client-designation .name {
	display: block;
	font-weight: 600;
}
/*----------------------------------------------------------------------- 
End of testimonial section
-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------- 
Start of pricing plan
-------------------------------------------------------------------------*/
.landy-pricing .pricing-price .content-price {
	font-size: 52px;
	display: block;
}
.landy-pricing .content-title {
	font-size: 36px;
}
.landy-pricing {
	-webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
	padding: 15px 20px 30px 25px;
	border-radius: 5px;
	z-index: 0;
	position: relative;
	background-color: #fff;
}
.landy-pricing-content-desc li {
	margin-bottom: 15px;
	display: block;
}
.landy-content-button,
.submit-btn button,
.load-more  {
	height: 50px;
	width: 170px;
	background-color: #f7f7f9;
	margin: 0 auto;
	line-height: 50px;
	border-radius: 35px;
}
.landy-content-button a,
.load-more a {
	display: block;
	width: 100%;
	color: #040404;
	position: relative;
	z-index: 1;
	transition: .3s all ease-out;
}
.landy-content-button a:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00c9fd', endColorstr='#81ee8e', GradientType=1);
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 35px;
}
.landy-content-button a:hover:after {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}
.landy-content-button a:hover {
	color: #fff;
}
.landing-icon span {
	font-size: 36px;
}
.landy-pricing.middle {
	position: relative;
	z-index: 1;
	padding-top: 45px;
	-webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
	margin-top: -20px;
	padding-bottom: 45px;
}
.landing-icon {
	position: absolute;
	top: 25px;
}
/*----------------------------------------------------------------------- 
End of testimonial section
-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------- 
Start of download area section
-------------------------------------------------------------------------*/
.download-number h2 {
	font-size: 52px;
	color: #fff;
	font-weight: 600;
}
.download-area-text span {
	color: #fff;
	font-size: 26px;
}
.download-area-text {
	max-width: 500px;
	margin: 0 auto;
}
.download-now h3 {
	font-size: 52px;
	font-weight: 300;
	color: #fff;
}
/*----------------------------------------------------------------------- 
End of download area section
-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------- 
Start of contact section
-------------------------------------------------------------------------*/
.comment-form {
	max-width: 770px;
	margin: 0 auto;
}

.contact-info input {
	width: 48%;
	float: left;
	height: 50px;
}
.contact-info-1 input {
	width: 100%;
	height: 50px;
	margin-top: 20px;
}
.contact-info textarea {
	width: 100%;
	max-height: 150px;
	margin-top: 20px;
}
.contact-info input,
.contact-info-1 input,
.contact-info textarea {
	background-color: #f7f7f9;
	border: none;
	padding: 20px;
	border-radius: 5px;
}
.submit-btn button {
	border: none;
	background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	color: #fff;
}

/*----------------------------------------------------------------------- 
End of contact section
-------------------------------------------------------------------------*/

/*----------------------------------------------------------------------- 
Start of footer sectiion
-------------------------------------------------------------------------*/
.footer-area-section {
	background-color: #ecf0f1;
}
.footer-content {
	max-width: 265px;
}
.footer-social ul li {
	margin-right: 15px;
}
.footer-social ul li span {
	color: #040404;
	transition: .3s all ease-out;
}
.footer-social ul li span:hover {
	color: #ff6a00;
}
.widgettile {
	font-size: 16px;
	font-weight: 600;
}
.service-list-item li {
	margin-bottom: 15px;
}
.service-list-item li:hover a {
	color: #f11965;
}

.newsletter input {
	height: 50px;
	background-color: #f7f7f9;
	border: none;
	border-radius: 5px;
	width: 100%;
	margin-top: 25px;
	padding: 20px;
}
.newsletter-email {
	position: relative;
}
.newsletter-email button {
	position: absolute;
	top: 25px;
	right: 0;
	background-color: #292929;
	border: none;
	height: 50px;
	width: 100px;
	border-radius: 5px;
}


/*----------------------------------------------------------------------- 
End of of footer section
-------------------------------------------------------------------------*/

/*----------------------------------------------------------------------- 
Another definitions
-------------------------------------------------------------------------*/

/* Botões padrão da landing page */
.btn {
	font-size: 16px;
	height: 50px;
	width: 170px;
	background-color: white; 
	margin: 0 auto;
	padding-top: 0px;
	line-height: 50px;
	border-radius: 10px;
	color: black; 
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
	transition: .3s all ease-out;
}

.btn a:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background: rgba(7, 6, 6, 0.267);
	color: white;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 10px;
}

.btn a:hover:after {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn:hover {
	background: rgba(7, 6, 6, 0.726);
	color: white;
}

.header-section {
	font-size: 50px;
	padding-top: 1%;
	padding-bottom: 4%;
	color: black; 
	display: block;
	text-align: center;  
}

.right-align {
	float: right;
}

.text-center {
	text-align: center;
}

.m-progress-bar {
    min-height: 1em;
    background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
    width: 5%;
}

.isDisabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
  }

.modal-button {
	font-size: 16px;
	height: 50px;
	width: 170px;
	background-color: #f7f7f9;	
	margin: 0 auto;
	padding-top: 0px;
	line-height: 50px;
	border-radius: 10px;
	color: black; 
	display: inline-block;
	width: 25%;
	position: relative;
	z-index: 1;
	transition: .3s all ease-out;
}

.modal-button a:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	
	background: -moz-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #ee0979), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -o-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	background: -ms-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 10px;
}

.modal-button a:hover:after {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.modal-button:hover {
	color: #fff;
}

.modal-button-close {
	font-size: 16px;
	height: 50px;
	width: 170px;
	background-color: #f7f7f9;
	margin: 0 auto;
	padding-top: 0px;
	line-height: 50px;
	border-radius: 10px;
	color: black; 
	display: inline-block;
	width: 25%;
	position: relative;
	z-index: 1;
	transition: .3s all ease-out;
}

.modal-button-close a:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background: rgba(7, 6, 6, 0.267);
	color: white;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 10px;
}

.modal-button-close a:hover:after {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.modal-button-close:hover {
	background: rgba(7, 6, 6, 0.726);
	color: white;
}

/*----------------------------------------------------------------------- 
End of another definitions
-------------------------------------------------------------------------*/

/*----------------------------------------------------------------------- 
---------------------------HOME PAGE 2-----------------------------------
-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------- 
Start of home-2 banner
-------------------------------------------------------------------------*/
.banner-area-section.home-2 {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 290px;
	overflow: visible;
	padding-top: 340px;
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #ee0979 0%, #ff6a00 100%) repeat scroll 0 0;
}
.banner-area-head h1 {
	font-size: 52px;
	color: #fff;
	font-weight: 300;
}
.banner-text {
	max-width: 650px;
}
.banner-area-head  span {
	color: #f1f1f1;
	font-size: 26px;
}
.banner-area-content {
	position: relative;
}
.banner-mock-up {
	position: absolute;
	right: 0;
	top: 0;
}
.banner-mock-up.home-1 {
	top: -35px;
} 

.banner-slider {
	position: absolute;
	top: 40px;
	right: 0;
}
.banner-slider_moblile img {
	max-width: 100%;
	text-align: center;
	width: auto;
	display: inline-block;
}
.banner-slider_moblile {
	text-align: center;
	z-index: 3;
	position: relative;
	display: inline-block;
}
.banner-area-section.home-3.home-2 {
	overflow: hidden;
	padding-top: 285px;
}
.banner-slide-area {
	max-width: 300px;
	position: absolute;
	top: 110px;
	right: 18px;
}
.banner-slide-area .owl-dot {
	height: 15px;
	width: 15px;
	background-color: #ee0b76;
	border-radius: 100%; 
	margin-bottom: 15px;
}
.banner-slide-area .owl-dot.active {
	border: 2px solid #fff;
}
.banner-slide-area .owl-controls {
	position: absolute;
	right: -50px;
	top: 50px;
}
.extra-features-section.v-2 {
	background-color: #f7f7f9;
}
.extra-features-section.v-2 .section-content {
	padding-top: 100px;
}
.extra-features-section .extra-features-content.v2 .extra-left .features-icon,
.extra-features-section .extra-features-content.v2 .extra-right .features-icon {
	background-color: #ecf0f1;
	position: relative;
}
/*----------------------------------------------------------------------- 
End of home-2 banner
-------------------------------------------------------------------------*/



/*----------------------------------------------------------------------- 
Start of team member section
-------------------------------------------------------------------------*/
.team-social {
	padding: 12px;
}
.team-social li a {
	color: #fff;
	padding: 4px 5px;
	background-color: transparent;
	border: 6px solid transparent;
}
.team-social li a:hover {
	background-color: #fa9ca4;
	border: 6px solid #f76b84;
	border-radius: 100%;
}
/*----------------------------------------------------------------------- 
End of team member section
-------------------------------------------------------------------------*/



/*----------------------------------------------------------------------- 
Start of blog area section
-------------------------------------------------------------------------*/
.blog-time span {
	color: #fa4d23;
}
.blog-link h2 {
	font-size: 26px;
}
.blog-meta span a {
	color: #959595;
}
/*----------------------------------------------------------------------- 
End of blog area section
-------------------------------------------------------------------------*/

.google-map-container {
	width: 100%;
	height: 500px;
	background-color: #dddddd;
}
.load-more {
	margin-top: 50px;
}
